<!DOCTYPE html>
<html>
<head>
    <title>glTF Text Data Viewer</title>
</head>
<body>
<pre id="gltfData"></pre>

<script>
        fetch('https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Avocado/glTF/Avocado.gltf')
            .then(response => response.json())
            .then(data => {
                document.getElementById('gltfData').textContent = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                console.error('Error fetching glTF data:', error);
            });
    </script>
</body>
</html>